<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psgod"
    android:versionCode="38"
    android:versionName="1.0.6">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 开机启动添加 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 设置前台是否显示通知，需要设置这个权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".PSGodApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.AppStartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.WelcomeScrollActivity" />
        <activity android:name=".ui.activity.UserAgreementActivity" />
        <activity android:name=".ui.activity.SetInfoActivity" />
        <activity android:name=".ui.activity.RegisterPhoneActivity" />
        <activity android:name=".ui.activity.RegisterVerifyActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- <activity android:name="com.psgod.ui.activity.PhotoDetailActivity" /> -->
        <activity android:name=".ui.activity.CarouselPhotoDetailActivity" />
        <activity android:name=".ui.activity.NotificationListActivity" />
        <!-- <activity android:name="com.psgod.ui.view.ExtendsScrollView" /> -->
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleTop" />
        <!-- <activity android:name="com.psgod.ui.activity.UploadImageActivity" /> -->
        <activity
            android:name=".ui.activity.CommentListActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.NewMessageActivity"></activity>
        <activity android:name=".ui.activity.FollowerListActivity" />
        <activity android:name=".ui.activity.FollowingListActivity" />
        <activity android:name=".ui.activity.OthersFollowerListActivity" />
        <activity
            android:name=".ui.activity.MyAskActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyWorksActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyInProgressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyCollectionsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.activity.SettingNotificationActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.SetAvatarActivity" />
        <activity android:name=".ui.activity.SettingPasswordActivity" />
        <activity
            android:name=".ui.activity.SinglePhotoDetail"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.ChoosePhotoActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.InvitationListActivity" />
        <activity android:name=".ui.activity.PhotoBrowserActivity" />
        <activity android:name=".ui.activity.AccountBindingActivity" />
        <activity android:name=".ui.activity.ResetPasswordInputPhoneActivity" />
        <activity android:name=".ui.activity.ResetPasswordCaptchaActivity" />
        <activity android:name=".ui.activity.ResetPasswordActivity" />
        <activity android:name=".ui.activity.RecommendFocusActivity" />
        <activity android:name=".ui.activity.WebBrowserActivity" />
        <activity
            android:name=".ui.activity.MultiImageSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.AlbumSelectImageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.RecentAsksActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.RecentWorkActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.UploadMultiImageActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.WorksListActivity" />
        <activity android:name=".ui.activity.UploadSelectReplyListActivity" />
        <activity android:name=".ui.activity.MessageActivity" />
        <activity android:name=".ui.activity.SettingLikedActivity" />
        <activity android:name=".ui.activity.SettingCommentActivity" />
        <activity android:name=".ui.activity.SettingAccountSafeActivity" />
        <activity android:name=".ui.activity.SettingChangeActivity" />
        <activity android:name=".ui.activity.MessageLikeActivity" />
        <activity android:name=".ui.activity.MessageSystemActivity" />
        <activity android:name=".ui.activity.MessageCommentActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity
            android:name=".ui.activity.NewLoginInputPhoneActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.NewPhoneLoginActivity" />
        <activity android:name=".ui.activity.NewRegisterPhoneActivity" />
        <activity android:name=".ui.activity.NewResetPasswdActivity" />
        <activity android:name=".ui.activity.BindInputPhoneActivity" />
        <activity android:name=".ui.activity.BindPhoneActivity" />

        <!-- sharesdk -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 友盟推送相关 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push"></receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.psgod.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.UploadCrashService">
            <intent-filter>
                <action android:name="com.psgod.service.UploadCrashServiceT" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.psgod.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.psgod.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5534c256e0f55aa48c002909"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="c8f974673fbd1188aa00218f7d3cbac5"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"></meta-data>

        <service android:name="com.umeng.message.UmengDownloadResourceService"></service>

        <!-- 友盟自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".ui.activity.ChannelActivity"
            android:label="@string/title_activity_channel"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.activity.RecentActActivity"
            android:label="@string/title_activity_recent_act"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ui.activity.CourseActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CourseDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.CourseWorkActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing|stateHidden" />

    <!-- =============== ping++支付相关 start =============== -->
        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- 银联支付 sdk -->
        <activity android:name="com.unionpay.uppay.PayActivity"></activity>

        <!-- 百付宝 sdk -->
        <activity
            android:name="com.baidu.paysdk.login.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.OrderHomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PayResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PcPwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdSetAndConfirmActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPaySmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardNoActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCredit2Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCreditActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindSmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.SelectBindCardActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SignChannelListActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden"></activity>

    <!-- =============== ping++支付相关  end  =============== -->
    </application>

</manifest>
